.modal-backdrop{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:rgba(0,0,0,0.7);

display:flex;
justify-content:center;
align-items:center;

padding:20px;

}

.modal-content{
background:white;
color:black;
padding:20px;
border-radius:10px;
max-width:600px;
width:100%;
max-height:80vh;
overflow-y:auto;
}


.btn_c{
    display: flex;
    justify-content: center;
}

.btn_c button{
border: 1px solid #00ff9c;
padding: 5px 10px;
margin-top: 10px;
text-align: center;
border-radius: 10px;
cursor: pointer;
font-size: 18px;
transition: 0.3s all ease;
}

.btn_c button:hover{
    background: #00ff9c;
}