<div class="app-container">
<h1>Meal Finder</h1>

<input
type="text"
placeholder="Buscar comida"
(input)="search($event)"
>
</div>

<div class="meals-container">

<div *ngFor="let meal of paginatedMeals" class="meal-card">

<h3>{{meal.strMeal}}</h3>

<img
[src]="meal.strMealThumb"
width="150"
>

<br>

<button (click)="openModal(meal)">
Ver receta
</button>

</div>

</div>

<div class="pagination">

<button (click)="prev()">Anterior</button>

<span>Pagina {{currentPage}}</span>

<button (click)="next()">Siguiente</button>

</div>

<app-modal
*ngIf="selectedMeal"
[meal]="selectedMeal"
(close)="closeModal()">
</app-modal>